.background-1-icon2 {
    position: absolute;
    top: -769px;
    left: 0;
    width: 1960px;
    height: 2899px;
    object-fit: cover;
  }
  .language-icon1-12,
  .language-icon2-12,
  .language-icon3-12 {
    position: absolute;
    top: 420px;
    left: 22px;
    width: 57px;
    height: 57px;
    object-fit: contain;
    z-index: 1;
  }
  .language-icon1-12,
  .language-icon3-12 {
    top: 497px;
  }
  .language-icon1-12 {
    top: 347px;
  }
  .background-1-container,
  .page-3-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .page-3-child {
    top: 268px;
    left: 22px;
    width: 57px;
    height: 57px;
    z-index: 1;
  }
  .rectangle-div {
    height: 669px;
    width: 1520px;
    position: relative;
    border-radius: var(--br-31xl);
    border: 6px solid var(--color-lightblue);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .appele-galement-la,
  .blank-line,
  .blank-line1,
  .cette-espce-est,
  .les-araignes-de1 {
    margin: 0;
  }
  .appele-galement-la-container {
    width: 1466px;
    position: relative;
    line-height: 47px;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 2;
  }
  .rectangle-parent {
    position: absolute;
    top: 166px;
    left: 159px;
    border-radius: var(--br-31xl);
    border: 6px solid var(--color-lightblue);
    box-sizing: border-box;
    width: 1520px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 52px 21px 53px;
    max-width: 100%;
    z-index: 1;
  }
  .page-3 {
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    letter-spacing: normal;
    text-align: left;
    font-size: 28.9px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 450px) {
    .appele-galement-la-container {
      font-size: var(--font-size-4xl);
      line-height: 38px;
    }
  }
  